{% extends "layout.html" %}

{% block title %}Video Gallery{% endblock %}

{% block content %}
<div class="container">
  {% for video in videos %}
  <div class="video-card">
    <img src="{{ video.thumbnail_url }}" alt="Thumbnail of {{ video.title }}" data-stream-url="{{ video.stream_url }}" />
    <div class="video-details">
      <div class="video-title">{{ video.title }}</div>
      <!-- Nouvelle icône de lecture -->
      <i class="fas fa-play play-icon" data-stream-url="{{ video.stream_url }}" title="Play externally"></i>
      <i class="fas fa-link link-icon" href="{{ video.stream_url }}" title="Link"></i>
      <div class="loader">Loading...</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

